<h2>Today's article</h2>
<hr>
<div *ngFor="let article of articles" style="margin-bottom: 20px">
  <a href="{{article.url}}" target="_blank">{{article.title}}</a>
</div>
<br><br>
<h3>Create new Article</h3>
<textarea [value] ="newArticle.title" cols="70" id="article-title" ></textarea>
<textarea [value]="newArticle.url"  cols="70" id="article-url" ></textarea><br>
<button (click)="createNewArticle()">Create new Article</button>
<!--<input (click)="updateArticle()" type="button" value="Update">-->
<hr>
@Dang Pham, 2020
